.header {
    padding-top: 44px;
    background: var(--buttons-grey);
}

.header > .container {
    display: flex;
    justify-content: space-between;
}

.box-one {
}

.header-list{
    @media screen and (min-widht: 320px) {
        display: none;
        }
        
        @media screen and (min-widht: 1176px) {
            display: flex;
            gap: 30px;
        }
}

.header-item{
}

.header-link{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: var(--text-primary);

    &:hover,
    &:focus {
        color: var(--buttons-primary);
    }
}

.box-two{
    display: flex;
    gap: 40px;
}

.header-btn-enter{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: var(--text-primary);
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover,
    &:focus {
        color: var(--buttons-primary);
    }
}

.header-btn-registration {
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
color: var(--inputs-light);
border-radius: 5px;
padding: 15px 30px;
border: none;
display: flex;
justify-content: center;
background: var(--buttons-primary);

   &:hover,
   &:focus {
    color: var(--buttons-primary);
    background-color: var(--cards-border);
   }
}