.hero {
padding-top: 75px;
padding-bottom: 58px;
background: var(--buttons-grey);
}

.hero > .container {
    display: flex;
}

.hero-box-one {
margin-top: 118px;
}

.hero-title {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 44px;
    color: var(--text-primary);
    margin-bottom: 15px;
}

.hero-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: var(--text-primary);
    margin-bottom: 30px;
    width: 460px;
    height: 75px;
}

.hero-span {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--inputs-grey);
    margin-right: 15px;
}

.hero-btn {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--inputs-grey);
    border: 1px solid var(--inputs-grey);
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 10px;

    &:hover,
    &:focus {
        color: var(--buttons-grey);
        background-color: var(--buttons-primary);
    }
}

.hero-box-two {
   display: flex;
   gap: 89px;
   margin-bottom: 56px;
}

.hero-box-three {
margin-bottom: 25px;
}

.hero-look {
    margin-right: 10px;
    fill: white;
}

.hero-btn-one {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: var(--inputs-light);
    border-radius: 5px;
    padding: 15px 30px;
    background: var(--buttons-primary);
    border: none;
    cursor: pointer;
    margin-left: 89px;

    &:hover,
    &:focus {
      color: var(--buttons-primary);
      background-color: var(--cards-border);
    }
}